In [ ]:
print("Hello World")

Hello World

<a href="https://colab.research.google.com/drive/1qJ2rpe2GDA3Xn8lQASQj-jCh_C4K5CU-#scrollTo=m6PpGi5YFC99" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<p align = center>
<img src = "https://drive.google.com/uc?export=view&id=1bLV_DO3vjYotaRcOAKIcQfE5TV8c1VbB" >
</p>

In [ ]:
# Lets start with the basics

 < img src="https://images.unsplash.com/photo-1522857884396-6d2c1c34e4e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">

# Lets start with the basics


<img src = "https://drive.google.com/uc?export=view&id=1lWwP58LUKLIrZpdYm30GIkC0YMoht1Ma" align = "right" height = "400px">


< img src = "https://i.imgflip.com/2667n9.jpg" align = "right" height = "400px">

# What we will be covering today: 
 - Conditional statements
 - Loops in python

## What is if...else statement in Python?

- Decision making is required when we want to execute a code only if a certain-  condition is satisfied.
- 
 The ifâ€¦elifâ€¦else statement is used in Python for decision making.
<img src = "https://cdn.programiz.com/sites/tutorial2program/files/Python_if_statement.jpg">

- Python if Statement Syntax


    if test_expression:
        statement(s)

In [ ]:
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True

In [ ]:
x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

In [ ]:
# Is one liner possible for this?ðŸ¤”

< img src = "https://drive.google.com/uc?export=view&id=1BHOF9ymaq62HrS05ycedc_x0s11PtgDY" align = "right" height = "400px">

In [ ]:
name = "John"
age = 23


if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

In [ ]:
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")

<p align = "center">
< img src="https://i.redd.it/6rbq35occu441.jpg" height="300px">
</p>

In [ ]:
statement = False
another_statement = True
if statement is True:              # if
    print("If executed")           # do this
else if another_statement is True: # else if
    print("Else if executed")      # do something else
else:                              # else
    print("Else executed")         # do another thing

In [ ]:
'''
In this program, we input a number check if the number is positive or negative or zero and display an appropriate message
This time we use nested if statement
'''

num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

In [ ]:
x = [1,2,3]
y = [1,2,3]
print(x == y) # Prints out True
print(x is y) # Prints out False

<img src = "https://drive.google.com/uc?export=view&id=1-cDNHCP3NiTWVHzUJmBBnm69fzGzO8We">

< img src = "https://drive.google.com/uc?export=view&id=1Vq6E0ImiNICQZjTIrzcGEW6xwDnsgda4" align = "right">

# What is for loop in Python?

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. Iterating over a sequence is called traversal.

<img src = "https://cdn.programiz.com/sites/tutorial2program/files/forLoop.jpg">

- Syntax


    for val in sequence:
        Body_of_for

In [ ]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

In [ ]:
# Prints out the numbers 0,1,2,3,4
for x in range(5):
    print(x)

# Prints out 3,4,5
for x in range(3, 6):
    print(x)

# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1  # This is the same as count = count + 1

In [ ]:
count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

In [ ]:
count=0
while count<5:
    print(count)
    count +=1
else:
    print("count value reached %d" %(count))

0
1
2
3
4
count value reached 5

In [ ]:

# Prints out 1,2,3,4
for i in range(1, 10):
    if i%5==0:
        break
    print(i)
else:
    print("this is not printed because for loop is terminated because of break but not due to fail in condition")

1
2
3
4

In [ ]:
# Home work : Try to implement a do while loop in python